<h1>Contact our awesome batch</h1>
<%#  %>
<!-- er + tab -->
<!-- execute ruby code -->
<%#=  %>
<!-- pe + tab -->
<!-- execute and display ruby code -->
<ul>
  <% @students.each do |student| %>
    <li><%= student %></li>
  <% end %>
</ul>
